/* Hide the default scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Customize scrollbar */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1); /* thumb color track color */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5); /* thumb color */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); /* track color */
  }